body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playBtn {
    width: 100%;
}

.playIcon {
padding-right: 10px;
}

